.container{
  composes: homeCont from "../homepage.module.css";
}
.carouselItem{
  max-width: 800px;
  height: auto;
}
.carouselItem.v {
  display: block;
}

.carouselItem.hidden {
  display: none;
}

