.resultBox {
  min-width: 100%;
  position: absolute;
  top: 50%;
  right: -25%;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
}
.resultBox:focus{
  display: block;
}

.result{
  display: flex;
}
.resultBody {
  display: flex;
  flex-direction: row;
}

.img {
  max-width:  100px;
}
