@import '../../../index.module.css';

.resultBox {
  width: 60vw;
  max-width: 900px;
  left: calc(100vw* -.2);
  right: calc(100vw* -.2);
  position: absolute;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 0px;
  animation: .5s slide 1 ease-out; 
  transform-origin: top;
}

@keyframes slide {
  from {
    transform: scaleY(0%);
  }

  to {
    transform: scaleY(100%);
  }
}
.linkItem{
  display: flex;
  width: 100%;
}
.result {
  display: flex;
  border-top: 1px solid black;
  padding: 0 .5em 0 0 ;
  transition: background-color .5s ease-out;
}
 .result:first-child {
  border-top: none;
}
.result:hover {
  background-color: grey;
}

.resultBody {
  width: 100%;
  justify-content:space-between;
  display: flex;
  flex-direction: row;
  color: black;
}
.nameWrapper {
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nameWrapper > h5 {
  margin: 0;
}
.nameWrapper > p  {
  margin: 0; 
  font-size: .6em;
  color:var(--coffee-pot) ;
}
.star{
  color:red;
}
.resultGroupOne{
  display: flex;
  align-items: center;
}
.resultGroupTwo{
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: .8em;
  justify-content: space-between;
}

.rating {
  color: var(--coffee-pot);
  font-size: .6em;
  padding: .2em;
  justify-self: flex-start;
}
.imgWrapper {
  overflow: hidden;
  width: 160px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.img {
  max-height: 100px;
  width: auto;

}
