.game{
  max-width:250px;
  display: flex;
  flex-direction: column;
  margin: .5em;
  border: 1px solid black;
}
.image{
  max-width: 250px;
  height: auto;
}
.star {
  color: red;
}
.price {
  color: lightsalmon;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
