.game{
  display: flex;
  flex-direction: column;
}
.image{
  max-width: 250px;
  height: auto;
}
.price {
  color: red;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
