.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchCont {
  position: relative;
  display: flex;
}

.resultsGroup {
  display: flex;
  flex-direction:row;
}

.closeBtn {
  font-size: 1em;
  margin: 0 auto;
}
