.spinner {
  border: 6px solid;
  border-color: black black black transparent;
  border-radius: 50%;
  animation: spin 1000ms infinite linear;
}
.navBar{
  position: absolute;
  right: 110%;
}
.homePage{
  align-self:center;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
