#root {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  /* height: 100vh; */
}
.outletContainer{
  width: clamp(400px, 100%, 1280px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
